docs/dxf_v1_schema/dxf.rng

<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" 
	 xmlns="http://relaxng.org/ns/structure/1.0" >

  <!--   TODO: -->
  <!-- 	 ns="http://www.dhis2.org/schema/dxf" > -->


  <!-- Toplevel elements of dxf format -->
  <start>
    <element name="dxf" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" >
      <!-- Metadata elements -->
      <ref name="categoryOptions" />
      <ref name="categories" />
      <ref name="categoryCombos" />
      <ref name="categoryOptionCombos" />
      <ref name="categoryCategoryOptionAssociations" />
      <ref name="categoryComboCategoryAssociations" />

      <ref name="dataElements" />
      <ref name="dataElementGroups" />
      <ref name="dataElementGroupMembers" />

      <ref name="indicatorTypes" />
      <ref name="indicators" />
      <ref name="indicatorGroups" />
      <ref name="indicatorGroupMembers" />

      <ref name="dataDictionaries" />
      <ref name="dataDictionaryDataElements" />
      <ref name="dataDictionaryIndicators" />

      <ref name="dataSets" />
      <ref name="dataSetMembers" />

      <ref name="organisationUnits" />
      <ref name="organisationUnitRelationships" />
      <ref name="organisationUnitGroups" />
      <ref name="organisationUnitGroupMembers" />
      <ref name="groupSets" />
      <ref name="groupSetMembers" />
      <ref name="organisationUnitLevels" />

      <ref name="dataSetSourceAssociations" />

      <ref name="periods" />

      <ref name="completeDataSetRegistrations" />

      <!-- DataValues -->
      <optional>
	<ref name="dataValues" />
      </optional>

    </element>
  </start>


<!--   Metadata sections -->


<!--   Categories -->

  <define name="categoryOptions">
    <element name="categoryOptions">
      <oneOrMore>
	<element name="categoryOption">
	  <element name="id">
	    <data type="integer" />
	  </element>
	  <element name="name">
	    <text />
	  </element>
	</element>
      </oneOrMore>
    </element>
  </define>

  <define name="categories">
    <element name="categories">
      <oneOrMore>
	<element name="category">
	  <element name="id">
	    <data type="integer" />
	  </element>
	  <element name="name">
	    <text />
	  </element>
	</element>
      </oneOrMore>
    </element>
  </define>
  
  <define name="categoryCombos">
    <element name="categoryCombos">
      <oneOrMore>
	<ref name="categoryCombo"/>
      </oneOrMore>
    </element>
  </define>
  
  <define name="categoryCombo">
    <element name="categoryCombo">
      <element name="id">
	<data type="integer" />
      </element>
      <element name="name">
	<text />
      </element>
    </element>
  </define>

  <define name="categoryOptionCombos">
    <element name="categoryOptionCombos">
      <zeroOrMore>
	<element name="categoryOptionCombo">
	  <element name="id">
	    <data type="integer" />
	  </element>
	  <ref name="categoryCombo" />
	  <ref name="categoryOptions" />
	</element>
      </zeroOrMore>
    </element>
  </define>

  <define name="categoryCategoryOptionAssociations" >
    <element name="categoryCategoryOptionAssociations">
      <zeroOrMore>
	<ref name="categoryCategoryOptionAssociation"/>
      </zeroOrMore>
    </element>
  </define>

  <define name="categoryCategoryOptionAssociation" >
    <element name="categoryCategoryOptionAssociation">
      <element name="category">
	<data type="integer" />
      </element>
      <element name="categoryOption">
	<data type="integer" />
      </element>
    </element>
  </define>

  <define name="categoryComboCategoryAssociations" >
    <element name="categoryComboCategoryAssociations">
      <zeroOrMore>
	<ref name="categoryComboCategoryAssociation"/>
      </zeroOrMore>
    </element>    
  </define>

  <define name="categoryComboCategoryAssociation" >
    <element name="categoryComboCategoryAssociation">
      <zeroOrMore>
	<element name="categoryCombo" >
	  <data type="integer" />
	</element>
	<element name="category" >
	  <data type="integer" />
	</element>
      </zeroOrMore>
    </element>    
  </define>


  <!--   Data elements -->
  <define name="dataElements">
    <element name="dataElements" >
      <zeroOrMore>
	<ref name="dataElement" />
      </zeroOrMore>
    </element>
  </define>


  <define name="dataElement">
    <element name="dataElement" >
      <element name="id"><data type="integer" /></element>
      <element name="uuid"><text /></element>
      <element name="name"><text /></element>
      <element name="alternativeName"><text /></element>
      <element name="shortName"><text /></element>
      <element name="code"><text /></element>
      <element name="description"><text /></element>
      <element name="active"><text /></element>
      <element name="type"><text /></element>
      <element name="aggregationOperator"><text /></element>
      <element name="categoryCombo"><data type="integer" /></element>
    </element>
  </define>

  <define name="dataElementGroups">
    <element name="dataElementGroups" >
      <zeroOrMore>
	<ref name="dataElementGroup" />
      </zeroOrMore>
    </element>
  </define>

  <define name="dataElementGroup">
    <element name="dataElementGroup">
      <element name="id"><data type="integer" /></element>
      <element name="uuid"><text /></element>
      <element name="name"><text /></element>
    </element>
  </define>

  <define name="dataElementGroupMembers">
    <element name="dataElementGroupMembers" >
      <zeroOrMore>
	<ref name="dataElementGroupMember" />
      </zeroOrMore>
    </element>
  </define>

  <define name="dataElementGroupMember">
    <element name="dataElementGroupMember">
      <element name="dataElementGroup"><data type="integer" /></element>
      <element name="dataElement"><data type="integer" /></element>
    </element>
  </define>

  <define name="indicatorTypes">
    <element name="indicatorTypes">
      <zeroOrMore>
	<element name="indicatorType" >
	  <element name="id"><data type="integer" /></element>
	  <element name="name"><text /></element>
	  <element name="factor"><data type="integer" /></element>
	</element>
      </zeroOrMore>
    </element>
  </define>

  <define name="indicators">
    <element name="indicators">
      <zeroOrMore>
	<element name="indicator" >
	  <element name="id"><data type="integer" /></element>
	  <element name="uuid"><text /></element>
	  <element name="name"><text /></element>
	  <element name="alternativeName"><text /></element>
	  <element name="shortName"><text /></element>
	  <element name="code"><text /></element>
	  <element name="description"><text /></element>
	  <element name="annualized"><text /></element>
	  <element name="indicatorType"><data type="integer" /></element>
	  <element name="numerator"><text /></element>
	  <element name="numeratorDescription"><text /></element>
	  <element name="numeratorAggregationOperator"><text /></element>
	  <element name="denominator"><text /></element>
	  <element name="denominatorDescription"><text /></element>
	  <element name="denominatorAggregationOperator"><text /></element>
	</element>
      </zeroOrMore>
    </element>
  </define>

  <define name="indicatorGroups">
    <element name="indicatorGroups">
      <zeroOrMore>
	<element name="indicatorGroup" >
	  <element name="id"><data type="integer" /></element>
	  <element name="uuid"><text /></element>
	  <element name="name"><text /></element>
	</element>
      </zeroOrMore>
    </element>
  </define>

  <define name="indicatorGroupMembers">
    <element name="indicatorGroupMembers" >
      <zeroOrMore>
	<ref name="indicatorGroupMember" />
      </zeroOrMore>
    </element>
  </define>

  <define name="indicatorGroupMember">
    <element name="indicatorGroupMember">
      <element name="indicatorGroup"><data type="integer" /></element>
      <element name="indicator"><data type="integer" /></element>
    </element>
  </define>

  <define name="dataDictionaries">
    <element name="dataDictionaries">
      <zeroOrMore>
	<element name="dataDictionary" >
	  <element name="id"><data type="integer" /></element>
	  <element name="name"><text /></element>
	  <element name="description"><text /></element>
	  <element name="region"><text /></element>
	</element>
      </zeroOrMore>
    </element>
  </define>

  <define name="dataDictionaryDataElements">
    <element name="dataDictionaryDataElements">
      <zeroOrMore>
	<element name="dataDictionaryDataElement">
	  <element name="dataDictionary"><data type="integer" /></element>
	  <element name="dataElement"><data type="integer" /></element>
	</element>
      </zeroOrMore>
    </element>
  </define>

  <define name="dataDictionaryIndicators">
    <element name="dataDictionaryIndicators">
      <zeroOrMore>
	<element name="dataDictionaryIndicator">
	  <element name="dataDictionary"><data type="integer" /></element>
	  <element name="indicator"><data type="integer" /></element>
	</element>
	</zeroOrMore>
    </element>
  </define>
  
  <define name="dataSets">
    <element name="dataSets">
      <zeroOrMore>
	<ref name="dataSet" />
      </zeroOrMore>
    </element>
  </define>

  <define name="dataSet">
    <element name="dataSet">
      <element name="id"><data type="integer" /></element>
      <element name="name"><text /></element>
      <element name="shortName"><text /></element>
      <element name="code"><text /></element>
      <element name="periodType"><text /></element>
    </element>
  </define>
  
  <define name="dataSetMembers">
    <element name="dataSetMembers">
      <!--  TODO: check dataSetMembers -->
      <ref name="anyElements"/>
    </element>
  </define>

  <define name="organisationUnits">
    <element name="organisationUnits">
      <zeroOrMore>
	<ref name="organisationUnit" />
      </zeroOrMore>
    </element>
  </define>
  
  <define name="organisationUnit">
    <element name="organisationUnit">
      <element name="id"><data type="integer" /></element>
      <element name="uuid"><text /></element>
      <element name="name"><text /></element>
      <element name="shortName"><text /></element>
      <element name="code"><text /></element>
      <!-- <element name="openingDate"><data type="date"/></element> -->
      <element name="openingDate"><text /></element>
      <!-- TODO: accept Date or nothing -->
      <element name="closedDate"><text /></element>
      <element name="active"><text /></element>
      <element name="comment"><text /></element>
      <element name="geoCode"><text /></element>
      <!-- TODO: URL in dxf? -->
    </element>
  </define>

  <define name="organisationUnitRelationships">
    <element name="organisationUnitRelationships">
      <zeroOrMore>
	<element name="organisationUnitRelationship">
	  <element name="parent"><data type="integer" /></element>
	  <element name="child"><data type="integer" /></element>
	</element>
      </zeroOrMore>
    </element>
  </define>

  <define name="organisationUnitGroups">
    <element name="organisationUnitGroups">
      <zeroOrMore>
	<element name="organisationUnitGroup">
	  <element name="id"><data type="integer" /></element>
	  <element name="uuid"><text /></element>
	  <element name="name"><text /></element>
	</element>
      </zeroOrMore>
    </element>
  </define>

  <define name="organisationUnitGroupMembers">
    <element name="organisationUnitGroupMembers">
      <zeroOrMore>
	<element name="organisationUnitGroupMember">
	  <element name="organisationUnitGroup"><data type="integer" /></element>
	  <element name="organisationUnit"><data type="integer" /></element>
	</element>
      </zeroOrMore>
    </element>
  </define>

  <define name="groupSets">
    <element name="groupSets">
      <zeroOrMore>
	<element name="groupSet">
	  <element name="id"><data type="integer" /></element>
	  <element name="name"><text /></element>
	  <element name="description"><text /></element>
	  <element name="compulsory">
	    <choice>
	      <value>true</value>
	      <value>false</value>
	    </choice>
	  </element>
	  <element name="exclusive">
	    <choice>
	      <value>true</value>
	      <value>false</value>
	    </choice>
	  </element>
	</element>
      </zeroOrMore>
    </element>
  </define>

  <define name="groupSetMembers">
    <element name="groupSetMembers">
      <zeroOrMore>
	<element name="groupSetMember">
	  <element name="groupSet"><data type="integer" /></element>
	  <element name="organisationUnitGroup"><data type="integer" /></element>
	</element>
      </zeroOrMore>
    </element>
  </define>

  <define name="organisationUnitLevels">
    <element name="organisationUnitLevels">
      <zeroOrMore>
	<element name="organisationUnitLevel">
	  <element name="id"><data type="integer" /></element>
	  <element name="level"><data type="integer" /></element>
	  <element name="name"><text /></element>
	</element>
      </zeroOrMore>
    </element>
  </define>

  <define name="dataSetSourceAssociations">
    <element name="dataSetSourceAssociations">
      <zeroOrMore>
	<element name="dataSetSourceAssociation">
	  <element name="dataSet"><data type="integer" /></element>
	  <element name="source"><data type="integer" /></element>
	</element>
      </zeroOrMore>
    </element>
  </define>

  <!--   Periods -->
  <define name="periods">
    <element name="periods">
      <zeroOrMore>
	<element name="period">
	  <element name="id"><data type="integer" /></element>	  
	  <element name="periodType"><text /></element>	  
	  <element name="startDate"><data type="date" /></element>	  
	  <element name="endDate"><data type="date"/></element>	  
	</element>
      </zeroOrMore>
    </element>
  </define>

  <define name="completeDataSetRegistrations">
    <element name="completeDataSetRegistrations">
      <!--  TODO: check completeDataSetRegistrations -->
      <ref name="anyElements" />
    </element>
  </define>


<!--   DataValue Section -->

  <define name="dataValues">
    <element name="dataValues">
      <zeroOrMore>
	<element name="dataValue">
	  <element name="dataElement"><data type="integer" /></element>	  
	  <element name="period"><data type="integer" /></element>	  
	  <element name="source"><data type="integer" /></element>	  
	  <element name="value"><text /></element>
	  <!-- TODO: Don't use storedBy -->
	  <element name="storedBy"><optional><data type="integer" /></optional></element>	  
	  <element name="timeStamp"><text /></element>	  
	  <element name="comment"><text /></element>
	  <element name="categoryOptionCombo"><data type="integer" /></element>	  
	</element>
      </zeroOrMore>
    </element>
  </define>

  <!--   Convenience (from odf spec) for filling in the "dark spots" -->
  <define name="anyAttListOrElements">
    <zeroOrMore>
      <attribute>
	<anyName/>
	<text/>
      </attribute>
    </zeroOrMore>
    <ref name="anyElements"/>
  </define>
  <define name="anyElements">
    <zeroOrMore>
      <element>
	<anyName/>
	<mixed>
	  <ref name="anyAttListOrElements"/>
	</mixed>
      </element>
    </zeroOrMore>
  </define>
  
</grammar>